<launch>
    <node pkg="pcd_publisher" type="pcd_publisher_node" name="publish1">
        <param name="pcd_dir" value="/home/ruiyu/Data/SimulationData/265-gantryDrive-20230816-140323/lidarLivox_013/" />
    </node>

    <node pkg="pcd_publisher" type="livox_feature_extractor" name="feature_ext1">
        <param name="pcd_source" value="pointcloud" />
    </node>

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find pcd_publisher)/config/feature_ext1.rviz" />
    </group>

</launch>
